* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.button {
  font-size: large;
  font-weight: 900;
  border-radius: 100%;
  border: none;
  width: 200px;
  height: 200px;
  box-shadow: 0 5px 20px 5px #888888;
}
